<!DOCTYPE html>
<html lang="en">
<head>
    <title><%= title %></title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <link rel="stylesheet" href="frontend/assets/incident.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>

</head>
<body style="background: #b5c7db">

<!--Navbar start -->
<nav class="navbar navbar-light" style="background-color: black">
    <span class="navbar-brand h1 " style="color: aliceblue; font-size: xx-large ; font-family: poppins">Service Management System</span>
    <div align="right">
        <!--Button start -->
        <a href="/incidentList" class="btn btn-secondary" >All Incidents</a>
        <a href="/newList" class="btn btn-secondary" >New</a>
        <a href="/inProgressList" class="btn btn-secondary" >In progress</a>
        <a href="/closedIncident" class="btn btn-secondary" >Closed</a>
        <a href="/empHome" class="btn btn-secondary" role="button" aria-pressed="true"
           >Go Back</a>
        <a href="/logud" class="btn btn-secondary" role="button" aria-pressed="true">Logout</a>

        <!--Button end -->
    </div>
</nav>

<!--Navbar end-->
<br><br><br>
<div class="container"  align="center">
    <header class="header" style=" text-align: center;
    padding: 20px;
    background: rgba(34, 41, 49, 0.45);;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;">
    <h2 style="color: white"><%= title %></h2>
    </header>

    <form action="/saveInci" method="post">
        <main class="main" style="padding: 30px 40px;
    background: rgba(34, 41, 49, 0.51);">

            <div class="form group col-md-6"align="center">
               <label for="incidentTitle">Incident Title</label>
               <input type="text" class="form-control" id="incidentTitle" name="incidentTitle" required>
            </div>


        <div class="form-group col-md-6">
            <label for="creator">Creator Name</label>
            <input pattern="[a-zA-Z -]+" minlength="4" title=" Use alphabets only !" type="text" class="form-control" id="creator" name="creator" required >
        </div>

        <div class="form-group col-md-6">
            <label for="short_description" class="form-label">Short description</label>
            <input type="text" class="form-control" id="short_description" name="short_description" required>
        </div>


        <div class="form-group col-md-6">
            <label for="date">Date</label>
            <input type="text" class="form-control" id="currentDate" name="date" required>
        </div>

            <script>
                var todayDate = new Date();
                var dateString = todayDate.getFullYear()+'-'+(todayDate.getMonth()+1)+'-'+todayDate.getDate();
                document.getElementById("currentDate").value = dateString;
            </script>

        <div class="form-group col-md-6">
            <label for="time">Time</label>
            <input type="text" class="form-control" id="currentTime" name="time" required >
        </div>

            <script>
                var todayTime = new Date();
                var timeString = todayTime.getHours() + ":" + todayTime.getMinutes() + ":" + todayTime.getSeconds();
                document.getElementById("currentTime").value = timeString;

            </script>

        <div class="form-group col-md-12">
            <label for="status_id">Status</label>
            <br>
            <select class="form-select form-select-lg mb-3" aria-label=".Disabled select example" id="status_id"
                    name="status_id"  style=" width: 50%;height: calc(1.5em + .75rem + 2px)";>
                <option value="1">New</option>
            </select>
        </div>

        <div class="form-group col-md-12">
            <label for="priority_id">Priority</label>
            <br>
            <select class="form-select form-select-lg mb-3" aria-label=".form-select-lg example" id="priority_id"
                    name="priority_id" style=" width: 50%;height: calc(1.5em + .75rem + 2px)" required>

                <option value="" disabled selected>Select priority</option>
                <option value="1">High</option>
                <option value="2">Medium</option>
                <option value="3">Low</option>
            </select>
        </div>

        <div class="form-group col-md-12">
            <label for="department_id">Assigned to Department</label>
            <br>
            <select class="form-select form-select-lg mb-3" aria-label=".form-select-lg example" id="department_id"
                    name="department_id" style=" width: 50%;height: calc(1.5em + .75rem + 2px)" required>
                <option value="" disabled selected>Select department</option>
                <option value="1">Business</option>
                <option value="2">It</option>
                <option value="3">Finance</option>
            </select>
        </div>
        <!--Form end -->

        <button type="submit" class="btn btn-secondary" style=" background:rgba(34, 41, 49, 0.51)">Submit</button>
        <br><br>
        </main>
    </form>

</div>
</body>


</html>
