<!DOCTYPE html>
<html lang="en">
<head>
    <title><%= title %></title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <link rel="stylesheet" href="./frontend/assets/adminHome.css">

</head>
<body style="background: #b5c7db">
<!--Navbar start -->
<nav class="navbar navbar-light" style="background-color: black">
    <span class="navbar-brand h1 " style="color: aliceblue; font-size: xx-large ; font-family: poppins;">Service Management System</span>
    <div align="right">
        <!--Button start -->
        <a href="/empList"class="btn btn-secondary" >See Employee List</a>
        <a href="/adminHome" role="button" aria-pressed="true" class="btn btn-secondary">Go Back</a>
        <a href="/logout"  role="button" aria-pressed="true"class="btn btn-secondary">Logout</a>
        <!--Button end -->
    </div>
</nav>
<!--Navbar end-->
<br>
<div class="container">
    <h2><%= title %></h2>
    <form action="/saveEmp" method="post">
        <div class="form-group">
            <label for="employeeName">Employee Name:</label>
            <input pattern="[a-zA-Z -]+"  minlength="4" type="text" class="form-control" id="employeeName" placeholder="Employee Name" name="employeeName" required>
        </div>
        <div class="form-group">
            <label for="userId">User Id:</label>
            <input type="text" class="form-control" id="userId" placeholder="User Id" name="userId" required>
        </div>
        <div class="form-group">
            <label for="password">Password:</label>
            <input type="password" class="form-control" id="password" placeholder="Enter Password" name="password" required>
        </div>

        <div class="form-group">
            <label for="email">Email:</label>
            <input type="email" class="form-control" id="email" placeholder="email" name="email" required>
        </div>
        <div class="form-group">
            <label for="department_id">Department id:</label>
            <input type="number" class="form-control" id="department_id" placeholder="Department id" name="department_id" required>
        </div>
        <button type="submit" class="btn btn-secondary" style=" background:rgba(34, 41, 49, 0.51)">Submit</button>
        <br><br>
    </form>
</div>
</div>
</body>
</html>
