
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700&display=swap');

:root {
    --dark-color-a: rgba(34, 41, 49, 0.51);
    --light-color-c: #b5c7db;
    --error-color: #d9534f;
    --light-color-a: #f8f7f7;
}

body {
    font-family: poppins;
    font-size: 16px;
    background: #b5c7db;
    background-image: url("https://www.incimages.com/uploaded_files/image/1920x1080/getty_504303998_336734.jpg");
    background-repeat: no-repeat;

}
h1{
    text-align:center;
    font-size: 45px;
    font-weight: bold;

}
div {
    top: 30%;
    left:90%;
    transform: none;
    position: absolute;


}
.container {
    max-width: 500px;
    margin: 80px auto;
    color: #fff;
}


.dropdownbtn {
    background-color:lightgray;
    padding: 10px;
    font-size: 16px;
    border:solid black;
    cursor: pointer;
    position: absolute;
    width:125px;
    font-weight: bold;
}
.dropdown-content {
    display: none;
    position: center;
    background-color: #f1f1f1;
    min-width: 160px;
    overflow: auto;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}
.dropdown-content a {
    color: white;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    background-color: black;
}
.dropdown-content a:hover {background-color: lightslategray;}


.show {display: block;}

